.dump {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	text-align: left;
	padding: 5px;
	background-color: #f6f6f6;
	border: 1px dotted #d2d2d2;
	color: #666666;
	line-height: 20px;
	font-size: 13px;
	/* Pour avoir un retour à la ligne si la ligne dépasse la largeur du cadre */
	/*white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;*/
	overflow-y: auto;
}
.dump .indentation {
	color: #dedede;
}
.dump .var {
	color: #000000;
	font-size: 14px;
	font-weight: normal;
}
.dump .info-type {
	color: #e88046;
}
.dump .access {
	font-style: italic;
	color: #aaaaaa;
}
.dump .type {
	color: #aaaaaa;
}
.dump .equal {
	color: #457b7b;
	font-size: 12px;
	font-weight: bold;
}
.dump .bracket {
	color: #aaaaaa;
}
.dump .value {
	font-size: 14px;
}
.dump .value.string {
	color: #a52b2e;
}
.dump .value.string .hellip {
	font-size: 15px;
	font-weight: bold;
}
.dump .value.string .hellip .hellip {
	font-size: 17px;
}
.dump .value.int {
	color: #06a50d;
}
.dump .value.bool {
	color: #861486;
}
.dump .value.float {
	color: #185fa6;
}
.dump .value.empty {
	color: #808080;
}
.dump .value.null {
	color: #d2cc6d;
}
.dump .info-string {
	color: #bbbbbb;
	font-style: italic;
}